In [1]:
#import libraries
import pandas as pd

In [2]:
#create variable, and assign the dataset to variable 'filename'
filename = '/Users/Jessi/Desktop/Final-Project/data/Earthquake_Datasets/EQCan2014-2015.csv' #created a variable that it would be easy to call

earthquakes_14_to_15 = pd.read_csv(filename, sep = ',')
#made dataframe into variable, check the data
earthquakes_14_to_15.head()
#I can see that there is some letters in my data...this might be a problem

      Dates  Time(UT)     Lat     Long  Depth    Mag
0  11/22/14   2:50:31  57.240 -122.544   6.0*  2.6ML
1  11/22/14  21:52:04  56.281 -121.909   5.0g      0
2  11/23/14   1:34:03  56.331 -121.873  10.0g  2.8ML
3  11/24/14  10:02:46  56.568 -122.376  10.0g  2.9ML
4  11/24/14  21:30:18  57.287 -122.778   5.0g  1.9ML

In [15]:
magnitude = earthquakes_14_to_15.Mag

In [16]:
#create a variable that has the column I want to work with, incase I want quick and clear access to the column
magnitude = earthquakes_14_to_15.Mag
#check to see what the data type is. It's a float, which means it will be very difficult to analyse and plot the data.
pd.Series(earthquakes_14_to_15.Mag)

0      2.6ML
1          0
2      2.8ML
3      2.9ML
4      1.9ML
5      2.3ML
6      1.9ML
7      2.3ML
8      1.8ML
9      2.0ML
10     2.0ML
11     2.1ML
12     2.0ML
13     2.0ML
14     2.2ML
15     2.1ML
16     2.1ML
17     2.5ML
18     2.2ML
19     1.9ML
20     2.5ML
21     1.6ML
22     1.7ML
23     1.5ML
24     2.1ML
25     2.0ML
26     2.0ML
27     3.5ML
28     2.2ML
29     2.0ML
       ...
265    1.7ML
266    1.4ML
267    1.9ML
268    1.6ML
269    1.8ML
270    2.3ML
271    2.0ML
272    2.6ML
273    2.1ML
274    2.5ML
275    2.2ML
276    2.0ML
277    1.8ML
278    1.7ML
279    1.8ML
280    2.4ML
281    3.0ML
282    1.7ML
283    2.1ML
284    2.6ML
285    3.6ML
286    2.2ML
287    2.8ML
288    3.0ML
289    2.0ML
290    2.0ML
291    2.5ML
292    2.0ML
293    2.3ML
294    1.7ML
Name: Mag, dtype: object

In [10]:
#create my test function. I want to change the type from an object to a float. Therefore, if I observe the type 
#of the column (which is currently an object), I want to be a float type. I expect it to be a float after I change it.
def test_column():
    obs = earthquakes_14_to_15.Mag.dtype
    exp = 'float64'
    assert obs == exp, 'There should only be floats in the Mag column'

In [11]:
exp = 'float64'

In [12]:
#create a function through which to test the test function. The test_column is going to observe the column of choice, 
#in this case magnitude, and return the type. We need to be able to check the type of the values within the series, 
#not just the type because the type is series...need to go one step deeper essentially?? 
def column():
    earthquakes_14_to_15.Mag
    return

In [13]:
test_column()

AssertionError: There should only be floats in the Mag column

In [17]:
# change the objects into floats so that the test will pass
# make a new depth column with is only a number from Depth DF and then change
# the string to a float
earthquakes_14_to_15['Mag'] = magnitude.str.extract('([0-9.]*)').replace('%','',regex=True).astype('float')

# make a new DF column with is only a letter from Depth DF
earthquakes_14_to_15['letters'] = magnitude.str.extract('[0-9.]?\s([A-Z]*)')

# delete Depth DF column
del earthquakes_14_to_15['letters']

In [18]:
test_column()

In [19]:
earthquakes_14_to_15.head()

      Dates  Time(UT)     Lat     Long  Depth  Mag
0  11/22/14   2:50:31  57.240 -122.544   6.0*  2.6
1  11/22/14  21:52:04  56.281 -121.909   5.0g  0.0
2  11/23/14   1:34:03  56.331 -121.873  10.0g  2.8
3  11/24/14  10:02:46  56.568 -122.376  10.0g  2.9
4  11/24/14  21:30:18  57.287 -122.778   5.0g  1.9